* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body1 {
  width: 100%;
  height: 150px;
}

.button {
  min-width: 130px;
  height: 40px;
  color: gold;
  padding: 5px 5px 2px 2px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid gold;
  background: #000000;
}

.button:hover {
  background: gold;
}

.button a:hover {
  color: #000000;
}

.menu {
  list-style: none;
  display: flex;
  text-align: center;
}

li {
  margin: 0 10px;
}

a {
  color: gold;
  text-decoration: none;
  font-size: 18px;
}

.main1 {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 900px 200px;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.logomain {
  width: 100%;
  height: 200px;
}

.imgindex {
  max-width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: radial-gradient(circle at 105.74% 50%, #ffe427 0, #ffd800 50%, #f5cd00 100%);
}

.footerimg {
  padding-left: 20px;
  display: flex;
}

.redes {
  display: flex;
  gap: 10px;
}

.img {
  width: 30px;
  height: 30px;
}

.ubic {
  text-align: center;
}

/* Sobre nosotros */
.main2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  height: 800px;
  background-color: black;
  padding: 40px;
}

.imgsobre {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h3 {
  display: flex;
  color: rgb(202, 200, 200);
  font-size: 20px;
  text-align: center;
}

/* Entrenamiento */
.body3 {
  width: 100%;
  height: 300px;
  background-color: black;
}

.div3-2 li {
  color: rgb(202, 200, 200);
  font-size: 20px;
}

.main3 {
  color: white;
  height: 900px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 40px;
}

.main3 .img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 100px;
}

.main3 .div3-1 h3 {
  color: white;
  font-size: 20px;
  text-align: center;
  max-width: 100%;
  grid-column: 2;
  grid-row: 1;
}

.main3 .div3-2 {
  list-style: none;
  color: rgb(202, 200, 200);
  font-size: 20px;
  grid-column: 2;
  grid-row: 2;
}

/* Alimentación */
.body4 {
  width: 100%;
  height: 300px;
  background-color: black;
}

.body4 li {
  color: rgb(202, 200, 200);
  font-size: 20px;
}

.main4 {
  color: white;
  height: 900px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 40px;
}

.main4 .imgalim {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 100px;
}

.main4 h3 {
  color: white;
  font-size: 20px;
  text-align: center;
  max-width: 100%;
  grid-column: 2;
}

/* Contacto */
.main5 {
  width: 100%;
  height: 900px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main5 form {
  max-width: 100%;
  padding: 20px;
  border: 1px solid white;
}

.main5 form h2 {
  color: rgb(202, 200, 200);
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.main5 form label {
  color: rgb(202, 200, 200);
  font-size: 20px;
}


.main5 form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.main5 form .form-group {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.main5 form .form-group label {
  padding-right: 10px;
}

.main5 form .submit5,
.main5 form .reset5 {
  background-color: gold;
  font-size: 15px;
}

/* Responsive iPhone 14 pro max 430 x 932 píxeles */
@media screen and (max-width: 430px) {
  .header .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  

  .header .nav .logo img {
    width: 100%;
    padding-top: 250px;
  }

  .header .nav .menu {
    padding-left: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  .header .nav .menu li {
    margin-bottom: 5px;
  }

  .header .nav .menu li a {
    color: gold;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    justify-content: center;
    
  }
  .header .nav .menu .button {
    height: 25px;
   
  }
  .main1 .imgindex {
    padding-top: 200px;
  }

  .main1 {
    height: 800px;
  }

  .main1 .logomain {
    display: none;
  }

  .main1 .imgindex img {
    width: 100%;
    margin-top: 150px;
  }

  .footer {
    padding: 20px;
  }

  .footer .redes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 30px ;
    padding-right: 20px;
  }

  .footer .redes img {
    width: 100%;
    height: 30px;
  }

  .footer .footerimg {
    padding-left: 0;
  }

  .footer .footerimg img {
    display: none;
  }

  .footer .ubic {
    display: none;
  }


  /* Sobre nosotros */
  .header .nav .menu {
    margin-top: 50px;
    display: flex;
  }
.main2{
  
    grid-template-columns: 1fr; 
    gap: 10px; 
    height: auto; 
    padding: 20px;
    width: 100%; 
}
  .imgsobre{
    margin-top: 290px;
  display: flex;
  justify-content: center;
 
  
}
.main2 h3{
  display: flex;
  justify-content: flex-end;
  font-size: 14px;

}



  /* Alimentación */
  .body4 {
    width: 100%;
    background-color: black;
    padding-top: 20px;
  }

  .body4 li {
    font-size: 14px;
  }

  .main4 {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    height: 1200px;
  }

  .main4 .imgalim {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
   margin-top: 250px;
 
  }

  .main4 h3 {
    font-size: 14px;
    text-align: center;
  }


}

/* Entrenamiento */
.main3{
  grid-template-columns: 1fr; 
  gap: 10px; 
  height: auto; 
  padding: 20px;
  width: 100%; 
  height: 1200px;
}

.imgentr{
margin-top: 280px;
display: flex;
justify-content: center;


}
.main3 .div3-1 h3{
margin-top: 10px;
display: flex;
font-size: 14px;

}

/* Contacto */
.header .nav .logo img {
  width: 100%;
  padding-top: 350px;
}
.body5 .menu
{
 margin-bottom: 150px;
  }
.main5 .div5-1 h2{
  font-size: 18px;
   }
.main5 .nombre5{
    font-size: 14px;
     }
.main5 .apellido5{
      font-size: 14px;
       }
.main5 .email5{
        font-size: 14px;
         }
.main5 .mensaje5{
          font-size: 14px;
           }
.main5 .submit5{
            font-size: 14px;
             }
.main5 .reset5{
              font-size: 14px;
               }